env*/
build/
dist/
*.pyc
.coverage
# This will remove our ability to add CI in the .github dir
#.*
.DS_Store
.idea/
*.egg-info/
*.egg/
docs/_build/
test.ini
stravalib/_version_generated.py
#*~
examples/strava-oauth/settings.cfg
# Code cov
.coverage

# So people don't mistakenly delete and submit a pr with these
stravalib/tests/test.ini-example
stravalib/tests/test.ini
# We have this dir committed now to our repo. but may be able to remove it as
# it's autgenerated when you build.
stravalib/docs/api

access_token.pickle
