# Package deps
arrow
pint
pydantic==1.10.9
pytz
requests>=2.0,<3.0dev
responses

nox

# Pre commit hook
pre-commit

# Testing & code cov
pytest
pytest-cov

# Type checking
mypy
types-requests
types-pytz
types-Flask

# Docs
pydata-sphinx-theme
# Support pydantic autodoc
autodoc_pydantic
sphinx_remove_toctrees
myst-nb
sphinx-autobuild
sphinx-inline-tabs
sphinx_copybutton
sphinx_design

# Support for social / adds meta tags
# Removing this for the time being to avoid issues with matplotlib / findfonts
# bug
#sphinxext-opengraph
