arrow
requests>=2.0,<3.0dev
pint
pytz

# Testing
pytest
responses
# Code coverage
pytest-cov

# For docs build
sphinx_copybutton
furo
sphinx-autobuild
# Support markdown w full rst functionality!
myst-nb
sphinx_design
# Support for social / adds meta tags
sphinxext-opengraph
sphinx-inline-tabs