name: Build Documentation

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  build-doc:
    runs-on: ubuntu-latest
    env:
      PYTHON-VERSION: "3.10"
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON-VERSION }}
      - name: Upgrade pip
        run: |
          # install pip=>20.1 to use "pip cache dir"
          python3 -m pip install --upgrade pip
      - name: Set Variables
        id: set_variables
        shell: bash
        run: |
          echo "PY=$(python -c 'import hashlib, sys;print(hashlib.sha256(sys.version.encode()+sys.executable.encode()).hexdigest())')" >> $GITHUB_OUTPUT
          echo "PIP_CACHE=$(pip cache dir)" >> $GITHUB_OUTPUT
      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ${{ steps.set_variables.outputs.PIP_CACHE }}
          key: ${{ runner.os }}-pip-${{ steps.set_variables.outputs.PY }}
      - name: Install dependencies
        run: |
          python3 -m pip install -r ./requirements.txt
          python3 -m pip install .
      - name: Build docs & linkcheck
        run: |
          # Build html and link check
          make -C docs
      - name: Print doc link failures in the output.txt file
        if: success() || failure()
        run: |
          cat docs/_build/linkcheck/output.txt | while read line
          do
            echo -e "$line \n"
          done
