name: Build Documentation

on:
  pull_request:
  push:
    branches:
      - main

permissions: {}

jobs:
  build-doc:
    runs-on: ubuntu-latest
    env:
      PYTHON-VERSION: "3.11"
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 20
          persist-credentials: false
      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ env.PYTHON-VERSION }}
      - name: Upgrade pip & install nox
        run: |
          # install pip=>20.1 to use "pip cache dir"
          python3 -m pip install --upgrade pip
          pip install nox
      - name: Set Variables
        id: set_variables
        shell: bash
        run: |
          echo "PY=$(python -c 'import hashlib, sys;print(hashlib.sha256(sys.version.encode()+sys.executable.encode()).hexdigest())')" >> $GITHUB_OUTPUT
          echo "PIP_CACHE=$(pip cache dir)" >> $GITHUB_OUTPUT
      - name: Cache dependencies
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ${{ steps.set_variables.outputs.PIP_CACHE }}
          key: ${{ runner.os }}-pip-${{ steps.set_variables.outputs.PY }}
      - name: Install dependencies
        run: |
          pip install nox
      - name: Build docs & linkcheck
        run: |
          # Build html and link check
          nox -s docs
      - name: Print doc link failures in the output.txt file
        if: success() || failure()
        run: |
          cat docs/_build/linkcheck/output.txt | while read line
          do
            echo -e "$line \n"
          done
