name: Build Documentation

on:
  pull_request:
  push:
    branches:
      - main

permissions: {}

jobs:
  build-doc:
    runs-on: ubuntu-latest
    env:
      PYTHON-VERSION: "3.11"
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 20
          persist-credentials: false
      - name: Setup Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ env.PYTHON-VERSION }}
      - name: Upgrade pip & install nox
        run: |
          # install pip=>20.1 to use "pip cache dir"
          python3 -m pip install --upgrade pip
          pip install nox
      - name: Set Variables
        id: set_variables
        shell: bash
        run: |
          echo "PY=$(python -c 'import hashlib, sys;print(hashlib.sha256(sys.version.encode()+sys.executable.encode()).hexdigest())')" >> $GITHUB_OUTPUT
          echo "PIP_CACHE=$(pip cache dir)" >> $GITHUB_OUTPUT
      - name: Cache dependencies
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: ${{ steps.set_variables.outputs.PIP_CACHE }}
          key: ${{ runner.os }}-pip-${{ steps.set_variables.outputs.PY }}
      - name: Install dependencies
        run: |
          pip install nox
      - name: Build docs & linkcheck
        run: |
          # Build html and link check
          nox -s docs
      - name: Print doc link failures in the output.txt file
        if: success() || failure()
        run: |
          cat docs/_build/linkcheck/output.txt | while read line
          do
            echo -e "$line \n"
          done
