name: Check Strava API

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions: {}

jobs:
  update-model:
    name: Update Model
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Fetch API
        run: curl https://developers.strava.com/swagger/swagger.json > src/stravalib/tests/resources/strava_swagger.json
      - name: Fetch API Schema
        uses: stravalib/strava_swagger2pydantic@d3239d5c8130283ee2d038cfa0845a06f8a4dadb # v1.0.12
        with:
          model_file: "src/stravalib/strava_model.py"
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          add-paths: |
            src/stravalib
          commit-message: Strava API Change
          branch: api-change
          delete-branch: true
          title: "[CHANGE] Strava API Change"
          body: |
            There were changes in the Strava API:
            [Please edit this comment to indicate what has changed]

            - [ ] The changelog is updated (only when necessary)
