name: Publish to PyPI
on:
  release:
    types: [published]
  push:
    branches:
      - master
jobs:
  build-publish:
    runs-on: ubuntu-latest
    # This action only needs to run in the base repository
    if: github.repository_owner == 'stravalib'
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          # So scm can view previous commits
          fetch-depth: 100

      # Need the tags so that setuptools-scm can form a valid version number
      - name: Fetch git tags
        run: git fetch origin 'refs/tags/*:refs/tags/*'

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.9"

      - name: Install requirements
        run: |
          python -m pip install -r requirements-build.txt
          pip list

      - name: Build package
        run: |
          python3 -m build
          echo ""
          echo "Generated files:"
          ls -lh dist/

      - name: Check the archives
        run: twine check dist/*

      - name: Publish package on test PyPI on merge
        # Test push to test pypi on merge to master
        if: github.event_name == 'push'
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.TEST_PYPI_TOKEN }}
          repository_url: https://test.pypi.org/legacy/
          # Allow existing releases on test PyPI without errors.
          # NOT TO BE USED in PyPI!
          skip_existing: true

      - name: Publish package to PyPI
        # Only publish to real PyPI on release
        if: github.event_name == 'release'
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_TOKEN }}
